.subscribe-button {
  background-color: rgb(199, 0, 0);
  color: white;
  border: none;
  height: 36px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  /* font-size: 20px; */
  /* padding: 10px 20px; */
  transition: opacity 0.15s ease-in-out;
}

.subscribe-button:hover {
  opacity: 0.6;
}

.subscribe-button:active {
  opacity: 0.4;
}

.join-button {
  background-color: white;
  color: rgb(29, 161, 242);
  border: 1px solid rgb(29, 161, 242);
  height: 36px;
  width: 60px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 4px;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

}

.join-button:hover {
  background-color: rgb(29, 161, 242);
  color: white;
}

.join-button:active {
  opacity: 0.8;
}

.tweet-button {
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  height: 36px;
  width: 70px;
  border-radius: 18px;
  font-weight: bold;
  cursor: pointer;
  font-size: 13.5px;
  margin-left: 4px;
  transition: box-shadow 0.15s ease-in-out;
}

.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}